.spotify-popup {
  position: absolute;
  top: 450px;
  right: 0;
  width: 320px;
   background-color: #121212;
  background: #121212;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 999;
  font-family: "Inter", sans-serif;
  max-height: 400px;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.spotify-header {
    border: none;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1DB954;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}


.spotify-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.spotify-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px;
  transition: background 0.2s;
}

.spotify-track:hover {
  background: #242424;
}

.album-art {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}

.track-info {
  flex: 1;
  overflow: hidden;
}

.track-name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-artist {
  font-size: 12px;
  color: #b3b3b3;
}

.track-controls button {
  background-color: #1DB954;
  border: none;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s;
}

.track-controls button:hover {
  transform: scale(1.1);
}

.track-controls .pause {
  background-color: #ff5555;
}

.spotify-icon {
  transition: transform 0.2s;
}

.spotify-icon:hover {
  transform: scale(1.1);
}
