.footer_content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  background-color: #ffebd0;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
